/*------------------Correct makeup for homepage----------------------*/
#autocomlpete-sform {
  /*width: 450px;*/
  /*height: 35px;*/
  object-fit: contain;
  border-radius: 6px;
  background-color: #ffffff;
  border: solid 0.3px #909090;
  background-image: url("img/search-icon.svg");
  background-position: 1% 50%;
  background-repeat: no-repeat;
}

#autocomlpete-sform .form-item-keys {
  border-right: none;
  margin-top: 10px;
}

#autocomlpete-sform label {
  display: none;
}

#autocomlpete-sform .button {
  border-radius: 6px;
}

#autocomlpete-sform .form-autocomplete {
  background-image: none;
}

.region-primary-menu .s-menu__item a[href*="login"] {
  border: none;
}

.region-primary-menu .s-menu__item a[href*="register"] {
  border: 1px solid rgba(255, 255, 255, 0.8);
  padding: 0 18px;
}

.region-primary-menu .s-menu__item a[href*="login"]:hover {
  color: #F2B200;
  background: none;
}

.region-primary-menu .s-menu__item a[href*="register"]:hover {
  color: #2B251A;
  background: #FFFFFF;
}

@media (min-width: 960px) {
  .region-front-content {
    top: 0px;
    margin-top: -27px;
    padding-top: 33px;
  }
}

body {
  font-size: 16px;
  background-image: none;
}

.s-layout__main {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(img/background.jpg);
  background-position-y: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
}

h2 {
  font-family: Raleway;
  font-weight: bold;
  line-height: 0.81;
  letter-spacing: 0.1px;
  text-align: left;
  color: #f2b200;
}

.path-frontpage .view-header {
  margin: 20px 0;
  font-size: 1.3em;
  font-family: Raleway;
  font-weight: 600;
  line-height: 1.05;
  letter-spacing: 0.1px;
  text-align: left;
  color: #2c3644;
}
/*.ui-widget-content li {*/
/*!*opacity: 0.52;*!*/
/*border-radius: 1px;*/
/*border: none;*/
/*background: rgba(242, 178, 0, 0.52);*/
/*}*/

.ui-widget-content li:hover {
  /*opacity: 0.52;*/
  border-radius: 1px;
  border: none;
  background: rgba(242, 178, 0, 0.52);
  display: block;
}

.ui-widget-content .item {
  color: #909090;
}
/*------------------main slider---------------------------*/

/*------------------main carousel---------------------------*/

#slick-views-card-carousel-block-1-2 .slick__slide {
  padding: 0px;
  background: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.21);
  display: inline-block;
  margin: 15px;
  margin-left: 5px;
}

#slick-views-card-carousel-block-1-2 .slick__slide  .views-field,
.slick--view--card-carousel .slick__slide  .views-field {
  margin-bottom: 17px;
}

#slick-views-card-carousel-block-1-2 .slick__slide .views-field.views-field-title,
.slick--view--card-carousel .slick__slide .views-field.views-field-title {
  margin-left: 10px;
  font-family: Raleway;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.17;
  text-align: left;
  color: #2c3644;
}

#slick-views-card-carousel-block-1-2 .slick__slide .views-field.views-field-field-fivestar,
#slick-views-card-carousel-block-1-2 .slick__slide span.views-field.views-field-field-routes,
.slick--view--card-carousel .slick__slide .views-field.views-field-field-fivestar,
.slick--view--card-carousel .slick__slide .views-field-field-local-term {
  margin-left: 10px;
}

#slick-views-card-carousel-block-1-2 .slick-slide,
.slick--view--card-carousel .slick-slide {
  padding-bottom: 10px;
}
#slick-views-card-carousel-block-1-2 span.views-label.views-label-field-routes.characteristic,
#slick-views-card-carousel-block-1-2 span.views-label.views-label-field-visits.characteristic,
#slick-views-card-carousel-block-1-2 span.views-label.views-label-field-experiences.characteristic {
  margin-right: 5px;
}

#slick-views-card-carousel-block-4-5 .slick__slide .slide,
#slick-views-card-carousel-block-3-4 .slick__slide .slide,
#slick-views-card-carousel-block-2-3 .slick__slide .slide  {
  padding: 0px;
  background: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.21);
  display: inline-block;
  margin: 0px;
  margin-left: 5px;
  padding-bottom: 10px;
}
#slick-views-card-carousel-block-2-3 .slick__slide .slide {
  border-radius: 10px;
}
/*.slick--view--card-carousel .slick__slide .slide {*/
/*padding-bottom: 10px;*/
/*}*/
#slick-views-card-carousel-block-4-5  .views-field.views-field-title,
#slick-views-card-carousel-block-3-4  .views-field.views-field-title,
#slick-views-card-carousel-block-2-3  .views-field.views-field-title {
  height:35px;
  margin-right: 7px;
  font-size: 1.3em;
  font-weight: 900;
}
#slick-views-card-carousel-block-2-3 img.image-style-m {
  border-radius: 10px 10px 0 0;
}
#slick-views-card-carousel-block-4-5  nav.slick__arrow,
#slick-views-card-carousel-block-3-4  nav.slick__arrow,
#slick-views-card-carousel-block-2-3  nav.slick__arrow {
  top: 43%;
}
.characteristic {
  font-size: 1.0em;
  font-weight: 500;
  line-height: 1.54;
  text-align: left;
  color: #959595;
}
/*Footer menu*/
.region-footer .s-menu--level-2 .s-menu__item a[href*="twitter"] {
  padding-left: 30px;
  position: relative;
  display: flex;
}
.region-footer .s-menu--level-2 .s-menu__item a[href*="twitter"]::after {
  display: inline-block;
  background-image: url(../css/img/sprite.svg);
  background-size: 3.5em 35.9375em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  font-size: 20px;
  content: '';
  width: 1.0625em;
  height: 1.0625em;
  background-position: -0.3125em -26.125em;
}

/*------Page search result------*/
.search-header__logo {
  float: left;
  margin-left: 20px;
  margin-top: 28px;
}

#block-mainnavigation1 .s-menu__item a {
  line-height: 1.25;
  color: #2c3644;
}
#block-mainnavigation1 .s-menu__item a:hover {
  line-height: 1.25;
  color: #f2b200;
}

#block-nl-content #autocomlpete-sform {
  display: none;
}

li.s-menu__item {
  list-style-type: none;
}

.path-search-destins .s-header {
  margin: 25px 0px;
}

.path-search-destins .region-primary-menu,
#block-nl-search-block-page {
  float: left;
  width: 400px;
}

.path-search-destins  .search-container-subtitle,
.path-search-destins #block-nl-page-title {
  display: none;
}

.path-search-destins  main {
  margin-top: 125px;
}

.path-search-destins .s-header__box img {
  width: 40px;
}

.path-search-destins #autocomlpete-sform {
  /* width: 450px; */
  height: 53px;
  object-fit: contain;
  border-radius: 0px;
  background-color: #ffffff;
  border: none;
  border-bottom: solid 0.3px #909090;;
  background-image: url(img/search-icon.svg);
  background-position: 0% 75%;
  background-repeat: no-repeat;
  box-shadow: 0 0.5px 0.5px 0 rgba(144, 144, 144, 0.22);
}
.path-search-destins #autocomlpete-sform .button {
  background: #F2B200;
  font-family: "Arimo", sans-serif;
  color: #FFFFFF;
  text-transform: uppercase;
  width: 11%;
  height: 50px;
  margin: 10px 0;
  border: 0;
  text-align: center;
  outline: 0;
  box-shadow: none;
  border-radius: 1px;
  display: block;
  position: relative;
  right: 350px;
  opacity: 0;
}

input {
  outline: 0;
}

#autocomlpete-sform .form-autocomplete input#edit-keys::-moz-focus-inner {
  border: 0;
}

.path-search-destins .s-menu {
  margin: 40px;
}

/*---Content Page search result---*/

.path-search-destins #stabs .ui-tabs-nav {
  background: none;
  border: none;
  display: block;
  /*float: left;*/
}

.path-search-destins .view-piois-etc {
  width: 40%;
  float: left;
  margin-top: 35px;

}
.path-search-destins  .view-filters {
  /*float: right;*/
  /*width: 100%;*/
}

.path-search-destins .view-nl-search  {
  /*width: 60%;*/
  float: left;
}

.path-search-destins .ui-widget-content {
  border: none;
}

.path-search-destins .ui-tabs .ui-tabs-nav li {
  border: none;
  background: none;
  font-family: Raleway;
  font-weight: 600;
  text-align: center;
  color: #909090;
  display: block;
  height: 48px;
  padding-top: 5px;
}

.path-search-destins li.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active a {
  color: #f2b200;
}

.path-search-destins li.ui-state-default.ui-corner-top a {
  display: block;
  text-align: center;
  height: 100%;
}

.path-search-destins li.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active a:focus {
  outline: 0;
}
.path-search-destins li.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active {
  border-bottom: solid 3px #f2b200 ;
}

.path-search-destins .view-nl-search .view-empty {
  float: right;
}

.path-search-destins .view-filters details {
  border:none;
}

.path-search-destins .view-filters  .form-checkboxes {
  border: 1px solid #ccc;
  /*position: absolute;*/
  padding: 20px;
  width: 250px;
  background: #ffffff;
  color: #909090;
}

/*---Theming checkboxes---*/

.path-search-destins .view-filters  .form-checkboxes .js-form-type-checkbox input[type=checkbox] {
  display: none;
}

.path-search-destins .view-filters .form-checkboxes .js-form-type-checkbox {
  position: relative;
  padding-left: 25px;
}

.path-search-destins .view-filters .form-checkboxes .js-form-type-checkbox  label:after {
  content: '';
  display: block;
  height: 14px;
  width: 14px;
  outline: 1px solid #939598;
  position: absolute;
  top: 3px;
  left: 0;
}

.path-search-destins .view-filters .form-checkboxes .js-form-type-checkbox input[type=checkbox]:checked + label:after {
  outline: 1px solid #ffffff;
  /*border: 2px solid #fff;*/
  width: 15px;
  height: 15px;
  background: url("img/shape.png");
  background-size: contain;
}

.path-search-destins .view-filters .edit-other .details-wrapper {
  background: #ffffff;
}

.path-search-destins .view-filters .edit-other  .form-checkboxes {
  border: none;
}

.path-search-destins .view-filters  .form-checkboxes span.enable-values {
  display: block;
  border-top: 1px solid #ccc;
  padding-top: 10px;
  text-align: right;
  color: #f2b200;
}

.path-search-destins .view-filters .details-wrapper {
  position: absolute;
}

.path-search-destins .view-filters summary {
  outline: 0;
}

.path-search-destins .view-filters summary::-webkit-details-marker {
  display: none
}

.path-search-destins .view-filters summary:after {
  position: absolute;
  margin: auto;
  content: "\F140";
  font-family: "Material Design Icons";
  font-weight: inherit;
  line-height: 1;
  font-size: 24px;
  /*top: 0;*/
  /*bottom: 0;*/
  /*right: 0;*/
  /*display: flex;*/
  align-items: center;
}

.path-search-destins .view-filters details[open] summary:after {
  position: absolute;
  margin: auto;
  content: "\F140";
  font-family: "Material Design Icons";
  font-weight: inherit;
  line-height: 1;
  font-size: 24px;
  /*top: 0;*/
  /*bottom: 0;*/
  /*right: 0;*/
  /*display: flex;*/
  align-items: center;
  -moz-transform: rotate(180deg); /* for Firefox */
  -ms-transform: rotate(180deg); /* for IE */
  -webkit-transform: rotate(180deg); /* for Safari, Chrome, iOS */
  -o-transform: rotate(180deg); /* for Opera */
  transform: rotate(180deg);
}

.path-search-destins .view-filters details {
  width: 20%;
}

.path-search-destins .view-filters span.reset-values {
  float: right!important;
  display: none;
}

.path-search-destins #stabs {
  background: url(img/background-search.jpg);
  background-position: 100%;
  background-repeat: repeat-x;
  -webkit-background-size: 100%;
  background-size: cover;
  padding: 0px;
}

.path-search-destins .js-form-item.form-item.js-form-type-select.form-type-select.js-form-item-sort-by.form-item-sort-by {
  float: right;
}

/*.path-search-destins  .view-filters .form--inline.clearfix::after {*/
  /*content: "Eliminar filtres";*/
  /*display: block;*/
  /*position: relative;*/
  /*bottom: 100px;*/
  /*left: 684px;*/
/*}*/

.path-search-destins .ui-tabs-nav {
  background: #ffffff !important;
  box-shadow: 0 0.5px 1px 0.5px rgba(151, 151, 151, 0.5);
  border: solid 0.5px rgba(151, 151, 151, 0.5)  !important;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.path-search-destins .view-nl-search .view-content {
  /*background: url(img/background-search.jpg);*/
  /*background-position: 100%;*/
  /*background-repeat: repeat-x;*/
  /*-webkit-background-size: 100%;*/
  /*background-size: cover;*/
}

.path-search-destins #map-canvas {
  width: 40%!important;
  float: left;
  margin-top: 10px;
}

.path-search-destins #stabs {
  width: 60%;
  float: left;
  margin-top: -43px;
}

.path-search-destins #stabs .views-field.views-field-field-recommended {
  position: relative;
}

.path-search-destins #stabs .field-content.recommended {
  transform: rotate(-47.7deg);
  font-family: Raleway;
  font-size: 17.5px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 39px;
  right: 56px;
  width: 223px;
  height: 60px;
  background-image: url(img/recomenada-shape.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 223px auto;
  padding-top: 15px ;
}


.path-search-destins .view-content .image-wrapper {
  float: left;
  margin-right: 10px;
}

.path-search-destins .view-content  .image-wrapper .views-field-field-image-default img.image-style-medium {
  border-radius: 8px 0 0 8px;
}


.path-search-destins .view-content  .title-wrapper {
padding-top: 10px;
}

.path-search-destins .view-content  .title-wrapper h3 {
  display: inline-block;
  font-family: Raleway;
  font-weight: bold;
  line-height: 1.17;
  letter-spacing: 0.1px;
  text-align: left;
  color: #f1b400;
  margin: 6px 0;
}

.path-search-destins .view-content .views-field-field-fivestar {
  display: inline-block;
  float: right;
}

.path-search-destins .view-content  .rating-wrapper .views-field {
  display: inline-block;
  font-family: Raleway;
  font-weight: 500;
  text-align: left;
  color: #909090;
}

.path-search-destins .view-content  .rating-wrapper .views-field .field-content{
  color: #2c3644;
}

.path-search-destins .view-content  .rating-wrapper .views-field-created {
  display: inline-block;
  float: right;
}
.path-search-destins .view-content  .rating-wrapper .views-field-created .field-content {
  color: #909090;
}

.path-search-destins .view-content   .views-row {
  /*width: 90%;*/
  min-height: 220px;
  margin-bottom: 38px;
}

.path-search-destins .view-content   .views-field.views-field-field-description {
  display:-webkit-box;
  -webkit-box-flex: 0;
  -khtml-box-flex: 0;
  border-bottom: 2px solid #afb8bd;
  color: #909090;
  padding: 12px;
}

.path-search-destins .view-content   .views-field.views-field-field-description span.field-content {
  color: #909090;
}

.path-search-destins .view-content  .views-row {
  display: block;
  background-color: #ffffff;
  box-shadow: 0 0.5px 4.5px 0 rgba(204, 204, 204, 0.5);
  border-radius: 8px;
  padding-right: 20px;
}

/*--Theming footer wrapper--*/

.path-search-destins .view-content  .footer-wrapper .views-field-field-route-typology-1,
.path-search-destins .view-content  .footer-wrapper .views-field-field-route-difficulty,
.path-search-destins .view-content  .footer-wrapper .views-field-field-duration,
.path-search-destins .view-content  .footer-wrapper .views-field-field-slope,
.path-search-destins .view-content  .footer-wrapper .views-field-field-distance {
  display: inline-block;
}

.path-search-destins .view-content  .footer-wrapper span.views-label.views-label-field-route-typology-1,
.path-search-destins .view-content  .footer-wrapper span.views-label.views-label-field-route-difficulty,
.path-search-destins .view-content  .footer-wrapper span.views-label.views-label-field-duration,
.path-search-destins .view-content  .footer-wrapper span.views-label.views-label-field-slope,
.path-search-destins .view-content  .footer-wrapper span.views-label.views-label-field-distance {
  display: block;
}

.path-search-destins .view-content .footer-wrapper .views-field.views-field-field-route-difficulty {
  border-left: 2px solid #afb8bd;
  border-right: 2px solid #afb8bd;
  /*padding: 0 40px;*/
}

.path-search-destins .view-content .footer-wrapper .views-field.views-field-field-duration {
  border-right: 2px solid #afb8bd;
  /*padding: 0 40px;*/
}

.path-search-destins .view-content .footer-wrapper .views-field.views-field-field-distance {
  border-left: 2px solid #afb8bd;
  /*padding: 0 40px;*/
}

.path-search-destins .view-content .footer-wrapper .views-field.views-field-field-route-typology-1,
.path-search-destins .view-content .footer-wrapper .views-field.views-field-field-duration,
.path-search-destins .view-content .footer-wrapper .views-field.views-field-field-route-difficulty,
.path-search-destins .view-content .footer-wrapper .views-field.views-field-field-slope,
.path-search-destins .view-content .footer-wrapper .views-field.views-field-field-distance {
  padding: 0 20px;
  /*height: 30px;*/
}

.path-search-destins .view-content .footer-wrapper .views-field.views-field-field-route-typology-1 {
  padding-left: 7px;
}

.path-search-destins .view-content .footer-wrapper .views-field {
  margin-top: 10px;
  line-height: 1.36;
  text-align: center;
  color: #9b9b9b;
}

.path-search-destins .view-content .footer-wrapper .views-field.views-field-field-route-typology-1 {
  background: url(img/icon-type.png);
  background-repeat: no-repeat;
  background-position: top;
}

.path-search-destins .view-content .footer-wrapper .views-field.views-field-field-route-difficulty {
  background: url(img/icon-difficulty.png);
  background-repeat: no-repeat;
  background-position: top;
}

.path-search-destins .view-content .footer-wrapper .views-field.views-field-field-duration {
  background: url(img/icon-duration.png);
  background-repeat: no-repeat;
  background-position: top;
}

.path-search-destins .view-content .footer-wrapper .views-field.views-field-field-slope {
  background: url(img/icon-ramp.png);
  background-repeat: no-repeat;
  background-position: top;
}

.path-search-destins .view-content .footer-wrapper .views-field.views-field-field-distance {
  background: url(img/icon-distance.png);
  background-repeat: no-repeat;
  background-position: top;
}

.path-search-destins .view-content .footer-wrapper span.views-label {
  padding-top: 25px;
}

.path-search-destins .view-content .footer-wrapper span.field-content {
  font-size: 0.8em;
}
