.s-layout__button {
  text-align: center;

  @include desktop {
    @include absolute(bottom);
    padding-bottom: 60px;
  }
}

.s-button {
  display: inline-block;
  padding: 2px 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-white;
  background: $color-orange;
  line-height: 2;
  border-radius: 30px;
  @include transition();

  &:hover {
    background: darken($color-orange, 5%);
  }
}