.s-footer {
  @include site-width;
  font-family: $ff-2;
  @include desktop {
    padding: 0 8%;
  }

  &__top {
    @include clearfix;
    margin: 40px 0 70px;
  }

  &__bottom {
    @include clearfix;
    border-top: 1px solid $color-5;
    padding: 20px 0 40px;
  }

  &__logo {
    display: none;
    @include desktop {
      display: block;
      @include span(4);
    }
  }
  
  &__logo-link {
    font-size: 0;
    display: inline-block;
    height: 30px;
    width: 190px;
    background: url("img/logo-footer.png") no-repeat;
  }

  &__copyright {
    display: none;
    @include desktop {
      display: block;
      @include span(4);
      color: $color-4;
      font-size: 14px;
      line-height: 2;
    }

  }

  @at-root .region-footer {
    @include desktop {
      @include span(8 last);
    }
  }
  @at-root .region-footer-bottom {
    @include desktop {
      @include span(6);
    }
  }
}