.s-header {
  @include absolute(top, 10);
  margin: 10px;



  &::after {
    content: '';
    display: block;
    clear: both;
    background: rgba(255,255,255,0.5);
    height: 1px;
    margin-top: 10px;
  }

  @include desktop {
    margin: 25px 60px;

    &::after {
      margin-top: 30px;
    }


  }

  &__box {


  }
  //@include container($config: $susy2, $debug: $debug_state);
  //background: rgba(255,255,255,0.3);

  &__logo {
    display: inline-block;
    vertical-align: middle;
    line-height: 0;
    font-size: 0;

    img {
      height: 44px;
      width: auto;
    }
  }

  .region-primary-menu {
    @include desktop {
      @include span(8 last);
    }
    @include wide {
      @include span(7 last);
      padding-left: 25px; // Shame
      padding-top: 5px; // Shame
    }

  }

}