@import url('https://fonts.googleapis.com/css?family=Arimo|Lato|Raleway');

$ff-1: 'Raleway', sans-serif;
$ff-2: 'Lato', sans-serif; // Instead 'AvenirNext'
$ff-3: 'Arimo', sans-serif; // Instead 'HelveticaNeue'

$fs-1: 16px; // Main font size
$fs-2: 0.9375em; // 15px
$fs-3: 0.875em; // 14px