$color-2: #27ae60;
$general-color-red: #920000;
$extrabold: 'OpenSans-Extrabold';
$roboto-medium: 'Roboto-Medium';
$semibold: 'OpenSans-Semibold';
$roboto-black: 'Roboto-Black';
$OpenSans: 'OpenSans';
$OpenSans-Bold: 'OpenSans-Bold';
$roboto: 'Roboto-Regular';

$debug_state: false;

$header-height: 50px;