@mixin absolute($position: 'fill', $z-index: 1) {
  position: absolute;
  z-index: $z-index;
  left: 0;
  right: 0;
  @if $position == 'top' {
    top: 0;
  }
  @else if $position == 'bottom' {
    bottom: 0;
  }
  @else {
    top: 0;
    bottom: 0;
  }
}