// @mixin icon($icon, $fill, $size)
//
// Set icon for element
//
// <pre class="prettyprint linenums lang-css"><code data-language="css">
// .class-fill {
//   width: 50px;
//   height: 50px;
//
//   @include icon('magnify'); // "Magnify" icon for whole block with center align
// }
//
// .class-part {
//   width: 100%;
//   height: 50px;
//
//   @include icon('account', 0, 50) {
//   // "Account" icon in left side of block with icon's size 50px
//     top: 0;
//     bottom: 0;
//     left: 0;
//   }
//  </code></pre>
//
// $icon - Name of icon from <a href="https://materialdesignicons.com/">MDI</a>
// $fill - 1 (default) - Align icon in by center of block. 0 - Set position of icon in mixin's content
// $size - Size of icon in pixel (without "px" writing)
//
// Styleguide common.mixins.icon

@mixin icon($icon, $fill: 1, $size: 24) {

  position: relative;

  &::after {
    position: absolute;
    margin: auto;
    content: mdi($icon);
    font-family: "Material Design Icons";
    font-weight: inherit;
    line-height: 1;
    font-size: #{$size}px;
    @if ($fill == 1) {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    @if ($fill == 2) {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-right:.2em;
    }
    @else {
      @content
    }
  }
}
